@model BookStore.Models.ViewModels.ProductVM


    <form method="post" asp-action="Upsert" enctype="multipart/form-data">
    
        <input asp-for="Product.Id" hidden />
        <input asp-for="Product.ImageUrl" hidden />

        <div class="row">
            <div class="col-10">
            <div class="border my-3 p-3">
                <h2>@(Model.Product.Id != 0 ? "Update Product" : "Create Product")</h2>
                <div class="my-3">
                    <label asp-for="Product.Title"></label>
                    <input class="form-control" asp-for="Product.Title" />
                    <span class="text-danger" asp-validation-for="Product.Title"></span>
                </div>
                <div class="my-3">
                    <label asp-for="Product.Description"></label>
                    <textarea class="form-control" rows="1" asp-for="Product.Description"></textarea>
                    <span class="text-danger" asp-validation-for="Product.Description"></span>
                </div>
                <div class="my-3">
                    <label asp-for="Product.ISBN"></label>
                    <input class="form-control" asp-for="Product.ISBN" />
                    <span class="text-danger" asp-validation-for="Product.ISBN"></span>
                </div>
                <div class="my-3">
                    <label asp-for="Product.Author"></label>
                    <input class="form-control" asp-for="Product.Author" />
                    <span class="text-danger" asp-validation-for="Product.Author"></span>
                </div>
                <div class="my-3">
                    <label asp-for="Product.ListPrice"></label>
                    <input class="form-control" asp-for="Product.ListPrice" />
                    <span class="text-danger" asp-validation-for="Product.ListPrice"></span>
                </div>
                <div class="my-3">
                    <label asp-for="Product.Price"></label>
                    <input class="form-control" asp-for="Product.Price" />
                    <span class="text-danger" asp-validation-for="Product.Price"></span>
                </div>
                <div class="my-3">
                    <label asp-for="Product.Price50"></label>
                    <input class="form-control" asp-for="Product.Price50" />
                    <span class="text-danger" asp-validation-for="Product.Price50"></span>
                </div>
                <div class="my-3">
                    <label asp-for="Product.Price100"></label>
                    <input class="form-control" asp-for="Product.Price100" />
                    <span class="text-danger" asp-validation-for="Product.Price100"></span>
                </div>
                <div class="my-3">
                    <label asp-for="Product.ImageUrl"></label>
                    <input class="form-control" type="file" id="uploadBox" name="file" />
                </div>
                <div class="my-3">
                    <label asp-for="Product.CategoryId"></label>
                    <select class="form-select" asp-for="Product.CategoryId" asp-items="@Model.CategoryList">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Product.CategoryId"></span>
                </div>

                <div class="my-3">
                    <label asp-for="Product.CoverTypeId"></label>
                    <select class="form-select" asp-for="Product.CoverTypeId" asp-items="@Model.CoverTypeList">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Product.CoverTypeId"></span>
                </div>





                <div class="my-4">
                    @if (Model.Product.Id != 0)
                    {
                        <button class="btn btn-primary" type="submit">Update</button>
                    }
                    else
                    {
                        <button class="btn btn-primary" onclick=" return validateInput()" type="submit">Add</button>
                    }
                    <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Back To List</a>
                </div>
            </div>
        </div>
            <div class="col-2">
            @if (Model.Product.ImageUrl != null)
            {
                <div class="mt-3">
                    <img class="img-fluid" src="/@Model.Product.ImageUrl" />
                </div>
            }
        </div>


        </div>

       
    </form>


@section Scripts{
    @{
    
    <partial name="_ValidationScriptsPartial" />
    
    }

    <script>

        tinymce.init({
            selector: 'textarea',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
        });

        function validateInput() {
            if (document.getElementById('uploadBox').value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please Uplode Product Image!',
                    footer: '<a href="">Why do I have this issue?</a>'

                });
                return false;
            }
            return true;
        }
    </script>
}



